.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 3s ease;
}

.carousel img {
  width: 100%; /* Establece el ancho al 100% */
  height: auto; /* Mantiene la proporción original */
  object-fit: cover; /* Opcional: ajusta la imagen manteniendo la relación de aspecto */
}
