.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto; /* Ajusta según tus necesidades */

}

.carousel {
  display: flex;
  transition: transform 3s ease-in;
}

.carousel img {
  width: 100%; /* Establece el ancho al 100% */
  height: auto; /* Mantiene la proporción original */
  object-fit: cover; /* Opcional: ajusta la imagen manteniendo la relación de aspecto */
}

