.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuye columnas */
}

.item-list li {
  flex: 0 1 calc(33.333% - 13.333px); /* 3 columnas con espacio uniforme */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.item-list h2 {
  margin-bottom: 10px;
}

.item-list h3 {
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
}

.item-list p {
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.item-list img {
  width: 100%;
  height: 200px;
  object-fit: contain; /* ✅ Muestra la imagen completa sin recortarla */
  background-color: #f9f9f9; /* Opcional: para fondo uniforme */
  padding: 10px; /* Opcional: separa visualmente */
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}


.item-list li:hover h3,
.item-list li:hover p,
.item-list li:hover img {
  transform: scale(1.05);
}

/* Contenedor general */
.item-list-container {
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 0 10px;
}

/* Para pantallas medianas (tablets) */
@media (max-width: 768px) {
  .item-list li {
    flex: 0 1 calc(50% - 10px); /* 2 columnas */
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .item-list li {
    flex: 0 1 100%; /* 1 columna */
  }
}
