/* Estilos de la barra de navegación */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar .navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}
.nav-item:hover {
  margin-right: 20px;
  transform: scale(1.1);
  transition: 0.3s;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  text-decoration: none;
  
}
  