.Titulo {
    background-color: #041a2b; /* Fondo blanco */
    padding: 40px 20px; /* Espaciado */
    text-align: center; /* Centrar el texto */
    border-bottom: 0px solid #333; /* Línea separadora */
  }
  
  .Titulo h1 {
    margin: 0;
    font-size: 32px;
    color: #fff;
  }
  